body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}


.desarrollo_tabla_titulo {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.titulo_enlace {
	color: #BB2619;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 679px;
}

.celda_etiqueta {
	font-weight: bold;
	font-size: 12px;
}

a:link {
	color: #000000;
}
a:visited {
	color: #000000;
}
a:hover {
	text-decoration: none;
}
h1 {
	color: #666666;
	font-size: 22px;
	letter-spacing: -1px;
	margin: 0px;
	padding: 0px;
}
h2 {
	font-size: 16px;
	color: #999900;
}

form {
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


.mensajes {
	float: left;
	padding: 0px;
	height: auto;
	margin-top: 1px;
	margin-bottom: 1px;
	color: #FF0000;
	background-color: #FFFF99;
	border: 1px dashed #CCCCCC;
	width: 100%;
}

.mensajes_titulo {
	background-color: #FFFF99;
	color: #FF0000;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	margin-bottom:0px;
	font-weight:bold;
}

.mensajes_margen {
	padding: 2px;
	margin: 0px;
}



.inputbox {
	font-size:11px;
	border:1px solid  #666666;
	padding:2px;	
	background-color:#FFFFFF;
	width:160px;
}

.input_lectura {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color:#FFFFFF;
	border:1px solid  #666666;
}

.inputbox_fecha{
	font-size:11px;
	border:1px solid #666666;
	padding:2px;	
	color:#000000;
	background-color:#FFFFFF;
	text-align:left;	
}

