
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
/*	background-color: #F0F0F0;*/
	background-repeat:repeat-x;
	margin: 0px;
	padding: 0px;
}

.tablaTituloNuevo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border-width: 5px 5px 5px 5px;
	border-spacing: 2px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	border-collapse: separate;
	background-color:#eeeeee;
}

.contenedor_general {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 900px;
}

.cabecero_gobierno {
	padding: 0px;
	float: left;
	height: 45px;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.banner_superior {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 93px;
	width: 100%;
}
.identificacion {
        background-image:url(../images/banner.jpg) !important;    
	padding: 0px;
	float: left;
	height: 123px;
	width: 100%;
	text-align: left;
	margin: 0px;
}
.menu_izq_contenedor {
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 197px;
	text-align: left;
}
.menu_izq_celda {
	background-color: #FFFFFF;
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.menu_izq_titulo {
	color: #273785;
    font-size:12px;
	font-weight: bold;
	padding-left: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 4px;
	padding-bottom: 6px;
}
.menu_izq_texto {
	color: #666666;
	margin-left: 10px;
	line-height: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.menu_izq_texto a:link {
	color: #666666;
	text-decoration: none;
}
.menu_izq_texto a:visited {
	color: #666666;
	text-decoration: none;
}
.menu_izq_texto a:hover {
	text-decoration: underline;
}

.menu_izq_superior {
	background-image: url(../images/menu_izq_superior.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 5px;
	float: left;
	width: 199px;
}
.menu_izq_inferior {
	background-image: url(../images/menu_izq_inferior.gif);
	background-repeat: no-repeat;
	padding: 0px;
	height: 5px;
	float: left;
	width: 199px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.desarrollo_contenedor {
	background-color: #FFFFFF;
	float: left;
	height: 445px;
	width: 670px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-align: left;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.desarrollo_superior {
	background-image: url(../images/desarrollo_superior.gif);
	background-repeat: no-repeat;
	padding: 0px;
	float: left;
	height: 5px;
	width: 691px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.desarrollo_inferior {
	background-image: url(../images/desarrollo_inferior.gif);
	background-repeat: no-repeat;
	padding: 0px;
	float: right;
	height: 5px;
	width: 691px;
	margin-top: 0px;
	margin-right: 1px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.login {
	width: 290px;
	background-color: #273785;
	float: left;
	height: 325px;
	text-align: center;
	padding-top: 25px;
	border: 1px solid #CCCCCC;
	margin-top: 5px;
}
.inf_login {
	width: 576px;
	background-color: #FFFFFF;
	float: left;
	height: 325px;
	text-align: left;
	padding-top: 25px;
	margin-top: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	background-image: url(../images/imagen_login.jpg);
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 30px;
}

.encabezado_tablas
{
	font-size: 12px;
	background-color:#999999;
	text-align:center;
	font-weight:bold;
}

.fila
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:center;
	height:20px;
}

.mensajes {
	float: left;
	padding: 0px;
	height: auto;
	margin-top: 1px;
	margin-bottom: 1px;
	color: #FF0000;
	background-color: #FFFF99;
	border: 1px dashed #CCCCCC;
	width: 100%;
}

.mensajes_titulo {
	background-color: #FFFF99;
	color: #FF0000;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	margin-bottom:0px;
	font-weight:bold;
}

.mensajes_margen {
	padding: 2px;
	margin: 0px;
}

.celda_etiqueta{
  font-weight:bold;
}

.inputbox {
	font-size:11px;
	border:1px solid  #666666;
	padding:2px;	
	background-color:#FFFFFF;
	width:160px;
}

.input_lectura {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color:#FFFFFF;
	border:1px solid  #666666;
}

.inputbox_fecha{
	font-size:11px;
	border:1px solid #666666;
	padding:2px;	
	color:#000000;
	background-color:#FFFFFF;
	text-align:left;	
}

.titulo_ventana {
	background-color:#F0F0F0;
	font-weight: bold;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#CCCCCC;
	padding-top: 4px;
	padding-bottom: 6px;
}
.desarrollo_contenedor2 {
	background-color: #FFFFFF;
	float: left;
	height: 320px;
	width: 875px;
    margin: 0 8px 0 0;
    padding: 29px 10px 13px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-align: left;

}
.desarrollo_superior2 {
	background-image: url(../images/desarrollo_superior.png);
	background-repeat: no-repeat;
	padding: 0px;
	float: left;
	height: 5px;
	width: 900px;
        margin: -1px 0 0;
}
.desarrollo_inferior2 {
	background-image: url(../images/desarrollo_inferior.png);
	background-repeat: no-repeat;
	padding: 0px;
	float: left;
	height: 5px;
	width: 900px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.formulario_inicio {
	background-image: url(../images/fondo_formulario_inicio.png);
        background-repeat: no-repeat;
	padding: 0px;
	float: right;
	height: 320px;
	width: 272px;
	margin-top: 20px;
	margin-right: 8px;
	margin-bottom: 20px;
	margin-left: 15px;
	text-align: center;
}
a:link {
	color: #000000;
}
a:visited {
	color: #000000;
}
a:hover {
	text-decoration: none;
}
table.tablaTitulo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border-width: 5px 5px 5px 5px;
	border-spacing: 2px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	border-collapse: separate;
	/*background-color:#eeeeee;*/
}
table.tablaTitulo th {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	border-width: thick thick thick thick;
	padding: 1px 1px 1px 1px;
	border-style: none none none none;
	background-color:#E0E0E0;
}
table.tablaTitulo td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding: 1px 1px 1px 1px;
	border-style: none none none none;
	border-color: white white white white;

}

table.tablaVer {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
table.tablaVer th {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	background-color:#E0E0E0;
    font-weight:bold;
}
table.tablaVer td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;

}
.inputbox82 {
	font-size:11px;
	border:1px solid  #CCC;
	padding:2px;
	background-color:#FFFFFF;
}
.textareabox {
	font-size:11px;
	border:1px solid  #666666;
	padding:2px;

    width: 465px;
}
.selectbox {
    width: 165px;
}
